.app {
  font-family: 'Poppins', sans-serif;
  background-color: #00123b;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

html {
  scroll-behavior: smooth;
}

.welcome {
  font-size: 2rem;
  color: #ffb347;
  text-align: center;
  margin-top: 40px;
  text-shadow: 0 0 10px #000;
}
