.section {
    padding: 20px;
    margin-bottom: 50px;
  }
  
  .title {
    font-size: 2rem;
    margin-bottom: 20px;
    color: white;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
  }
  
  .card {
    background: #111;
    padding: 10px;
    border-radius: 10px;
    color: white;
    text-align: center;
    overflow: hidden; 
    cursor: pointer;
    transition: transform 0.3s ease, 
                box-shadow 0.3s ease;
  }
  
  .card img {
    width: 100%;
    height: 250px;      
    object-fit: cover;  
    border-radius: 8px;
    transition: transform 0.3s ease, filter 0.3s ease;
    position: relative;
    z-index: 1;
  }
  
  
  .card h3, .card p {
    color: white;
    text-shadow: /*agregue esto porque la imagen solia tapar el titulo*/
        -2px -2px 4px black,
        2px -2px 4px black,
        -2px 2px 4px black;
    position: relative;
    z-index: 2; /*titulo delante*/
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.45);
  }
  
  .card:hover img {
    transform: scale(1.1);
    filter: brightness(1.1);
  }
  
  .favButton {
    margin-top: 10px;
    padding: 6px 12px;
    border: none;
    border-radius: 6px;
    background-color: rgba(246, 242, 236, 0.401);
    color: #ede4d9;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .favButton:hover {
    background-color: rgb(255, 255, 255);
  }
  
  
  